@import '../../../scss/_variables';

.container {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;

  .button-container {
    margin-left: 20px;

    button {
      background-color: unset !important;
    }

    ::ng-deep .mat-fab .mat-button-wrapper {
      padding: 10px !important;
    }

    .type-icons {
      height: 32px;
      width: 32px;
      margin-bottom: 10px;
    }
  }
}

.btn-reset {
  text-align: center;
}
