.container {
    min-height: 600px;

    .filter-container {
        display: flex;
        justify-content: center;

        mat-form-field {
            min-width: 500px
        }
    }

    .table-container {
        display: flex;
        justify-content: center;
        overflow: auto;
        max-height: 500px;

        table {
            width: 90%;
        }
        
        .mat-form-field {
            font-size: 14px;
            width: 100%;
        }
    }
}
