// Main colors
$background: #ececec;
$main-blue: #3f87a6;
$main-light-blue:  #e4f0f5;

// Primary colors
$white: #f4f6f7;
$black: rgb(22, 22, 22);
$grey: #ACACAC;
$bold: #f1c40f;
$red: #ff4f4f;
$orange: #ff9e4f;
$green: MediumSeaGreen;
$blue: #00cccc
